.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.input-text-area {
    width: 55%;
    height: 10rem;
    border: 3px solid #382d2d;
    border-radius: 8px;
    padding: 0.5rem 0.8rem;
    cursor: text;
}

.btn {
    background-color: #382d2d;
    border: 3px solid #382d2d;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 0.75em;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #b1b1b1;
}

.containerbuttons {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex: 1;
    margin: 2rem;
}

.btnSimulate {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 0.75em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
}	