.bottom-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 2rem;
}

.bottom-section > div {
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #FFFAF0;
}

table th, table td {
    border: 1px double #5e5f61;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #dededf;
    font-weight: bold;
}


table tr:hover {
    background-color: #eeeeef;
}

.RAMtable, .REGISTERtable {
    width: auto;
    margin: 0 auto;
}

.RAMtable , .REGISTERtable  {
    display: block;
    max-height: 40rem; 
    overflow-y: auto;
}

.RAMtable thead, .REGISTERtable thead, .RAMtable tbody tr, .REGISTERtable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}